<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='front_page.css')}}">
<div>
        <input type="search" name="text1" id="sear" onkeypress="keydownFunction(event)">
        <i class="fa fa-search"></i>
	{% block javascript %}
    <script type="text/javascript">
        {% include "myform.js" %}
    </script>
{% endblock %}
</div>
  <body>
  <h1>Product Search Engine</h1>
    <p>search for a product and get results from flipkart amazon paytm and croma</p>
  </body>
</html>
