<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='front_page.css')}}">
    <form action="./index" method="POST">
        <input type="search" name="text1">
        <i class="fa fa-search"></i>
    </form>
  <body>
  <div>
  <h1>Product Search Engine</h1>
    <p>search for a product and get results from flipkart amazon paytm and croma</p>
      <h2><p>contributors
          <br>
  no help at all : narayana and ravi
          <br>
  tried to help but couldnt : santosh
          <br>
  helped : barath </p></h2>
  </div>
  </body>
</html>
