<html>
<head>
<style>
table, th, td{
border: 1px solid black;
border-collapse: collapse;}</style></head>
<body>
<h2>FLIPKART</h2>
<table>
<tr><td>LG 1.5 Ton 5 Star Split Dual Inverter AC  - White</td>
<td>₹44,999</td>
</tr>
<tr><td>LG 2 Ton 3 Star Split Dual Inverter AC  - White</td>
<td>₹47,999</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Inverter AC  - White</td>
<td>₹33,610</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Dual Inverter AC  - White</td>
<td>₹38,999</td>
</tr>
<tr><td>LG 1 Ton 3 Star Split Dual Inverter AC with Wi-fi Connect  - White, Gold</td>
<td>₹32,999</td>
</tr>
<tr><td>LG 1 Ton 5 Star Split Inverter AC  - White</td>
<td>₹36,990</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Dual Inverter AC  - White, Maroon</td>
<td>₹39,999</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Dual Inverter AC with Wi-fi Connect  - White, Gold</td>
<td>₹38,999</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Split Inverter AC  - White</td>
<td>₹38,500</td>
</tr>
<tr><td>LG 1 Ton 5 Star Split Dual Inverter AC  - Floral White</td>
<td>₹39,499</td>
</tr>
<tr><td>LG 1 Ton 5 Star Split Dual Inverter AC  - White</td>
<td>₹37,999</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Split Dual Inverter AC with Wi-fi Connect  - White, Gold</td>
<td>₹46,490</td>
</tr>
<tr><td>LG 1 Ton 3 Star Split Dual Inverter AC  - White</td>
<td>₹33,999</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Split Dual Inverter AC  - Floral White</td>
<td>₹43,999</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Dual Inverter AC  - Floral White</td>
<td>₹37,300</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Inverter AC  - White</td>
<td>₹36,283</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Split Dual Inverter AC  - White, Maroon</td>
<td>₹47,999</td>
</tr>
<tr><td>LG 1 Ton 3 Star Split Inverter AC  - White</td>
<td>₹32,423</td>
</tr>
<tr><td>LG 1 Ton 3 Star Window AC  - White</td>
<td>₹24,400</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Inverter AC  - White</td>
<td>₹39,999</td>
</tr>
<tr><td>LG 1 Ton 3 Star Split Inverter AC  - White</td>
<td>₹32,999</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Inverter AC  - White</td>
<td>₹42,950</td>
</tr>
<tr><td>LG 1 Ton 3 Star Split Inverter AC  - White</td>
<td>₹36,190</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Inverter AC  - White</td>
<td>₹37,999</td>
</tr>
</table>
<h2>AMAZON</h2><table>
<tr><td>LG 1.5 Ton 5 Star Inverter Split AC (Copper, KS-Q18YNZA, White)</td>
<td>43,990</td>
</tr>
<tr><td>LG 1 Ton 5 Star Inverter Split AC (Copper, KS-Q12YNZA, White)</td>
<td>37,999</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Inverter Split AC (Copper, KS-Q18YNXA, White)</td>
<td>38,999</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Wi-fi Inverter Split AC (Copper, KS-Q18AWZD, White and Gold)</td>
<td>43,900</td>
</tr>
<tr><td>LG 1 Ton 3 Star Inverter Split AC (Copper, KS-Q12YNXA, White)</td>
<td>33,999</td>
</tr>
<tr><td>LG 1 Ton 5 Star Wi-fi Inverter Split AC (Copper, KS-Q12AWZD, White and Gold)</td>
<td>40,990</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Inverter Split AC (Copper, JS-Q18CPXD2, White)</td>
<td>39,990</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Inverter Split AC (Copper, KS-Q18FNXD1, Floral White)</td>
<td>37,550</td>
</tr>
<tr><td>Symphony Cloud 15 Litre Room Air Cooler (White) - with Remote Control and i-Pure Technology</td>
<td>12,400</td>
</tr>
<tr><td>Voltas 1 Ton 3 Star Split AC (Copper, 123 PZY-R, Red)</td>
<td>30,699</td>
</tr>
<tr><td>LG 2 Ton 3 Star Inverter Split AC (Copper, KS-Q24ENXA, White)</td>
<td>47,950</td>
</tr>
<tr><td>LG 1 Ton 5 Star Inverter Split AC (Copper, KS-Q12WNZD, White and Burgundy)</td>
<td>39,990</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Wi-Fi Inverter Split AC (Copper, KS-Q18MWZD, White and Grey)</td>
<td>49,000</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Hot and Cold Inverter Split AC (Copper, LS-H18VNXD, White)</td>
<td>40,176</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Dual Inverter Split AC (Copper, KS-Q18HNZD, White)</td>
<td>41,900</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Inverter Split AC (Copper, KS-Q18WNXD, WINE RED DECO)</td>
<td>39,999</td>
</tr>
<tr><td>LG 1 Ton 3 Star Wi-fi Inverter Split AC (Copper, KS-Q12AWXD, White and Gold)</td>
<td>32,999</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Inverter Split AC (Copper, JS-Q18TUXD1, White)</td>
<td>45,600</td>
</tr>
<tr><td>Bajaj Tc2007 37-Litre Air Cooler</td>
<td>6,990</td>
</tr>
<tr><td>Bajaj MD2020 54 Ltrs Room Air Cooler (White) - for Medium Room</td>
<td>6,699</td>
</tr>
</table>
<h2>PAYTM</h2><table>
<tr><td>LG 1.5 ton 5 star Inverter Split ac , KS-Q18H ...</td>
<td>Rs 41998</td>
<td>₹3000 Cashback</td>
</tr>
<tr><td>LG 1 ton 5 star Inverter Split ac , KS-Q12ENZ ...</td>
<td>Rs 35446</td>
<td>₹2500 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 5 star Inverter Split ac , KS-Q18M ...</td>
<td>Rs 46100</td>
<td>₹3500 Cashback</td>
</tr>
<tr><td>LG 2 ton 3 star Inverter Split ac , KS-Q24ENX ...</td>
<td>Rs 47432</td>
<td>₹3500 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 3 star Inverter Window ac , JW-Q18 ...</td>
<td>Rs 35559</td>
<td>₹2500 Cashback</td>
</tr>
<tr><td>LG 1 ton 5 star Inverter Split ac , KS-Q12AWZ ...</td>
<td>Rs 39045</td>
<td>₹3000 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 3 star Inverter Split ac , KS-Q18E ...</td>
<td>Rs 35248</td>
<td>₹2500 Cashback</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Window AC JW-Q18WUZA White</td>
<td>Rs 40405</td>
<td>₹3000 Cashback</td>
</tr>
<tr><td>LG 2 ton 3 star Inverter Window ac , JW-Q24WU ...</td>
<td>Rs 40995</td>
<td>₹3000 Cashback</td>
</tr>
<tr><td>LG 1 ton 3 star Inverter Split ac , KS-Q12ENX ...</td>
<td>Rs 33618</td>
<td>₹2500 Cashback</td>
</tr>
<tr><td>LG 1 ton 5 star Inverter Split ac , KS-Q12FNZ ...</td>
<td>Rs 38990</td>
<td>₹3000 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 3 star Inverter Split ac , KS-Q18H ...</td>
<td>Rs 36379</td>
<td>₹2547 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 5 star Inverter Split ac , KS-Q18A ...</td>
<td>Rs 48500</td>
<td>₹3500 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 5 star Inverter Split ac , KS-Q18F ...</td>
<td>Rs 45985</td>
<td>₹3500 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 3 star Inverter Split ac , KS-Q18F ...</td>
<td>Rs 38177</td>
<td>₹3000 Cashback</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Inverter Split AC (JS-Q18JU ...</td>
<td>Rs 56000</td>
<td>₹4500 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 3 star Inverter Window ac , JW-Q12 ...</td>
<td>Rs 29462</td>
<td>₹3600 Cashback</td>
</tr>
<tr><td>LG 1 Ton 3 Star Window Ac (LWA12GWXA) with Co ...</td>
<td>Rs 24300</td>
<td>₹3600 Cashback</td>
</tr>
<tr><td>LG 1 ton 5 star Inverter Split ac , KS-Q12HNZ ...</td>
<td>Rs 38241</td>
<td>₹3000 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 5 star Inverter Split ac , KS-Q18W ...</td>
<td>Rs 45327</td>
<td>₹3500 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 5 star Inverter Split ac , KS-Q18S ...</td>
<td>Rs 43990</td>
<td>₹3079 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 3 star Inverter Split ac , KS-Q18S ...</td>
<td>Rs 41500</td>
<td>₹3000 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 3 star Inverter Split ac , KS-Q18A ...</td>
<td>Rs 41990</td>
<td>₹3000 Cashback</td>
</tr>
<tr><td>LG 1 ton 3 star Inverter Split ac , KS-Q12HNX ...</td>
<td>Rs 33988</td>
<td>₹2500 Cashback</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Window AC (LWA18GWXA) with  ...</td>
<td>Rs 27990</td>
<td>₹3600 Cashback</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Inverter Split AC (JS-Q18HU ...</td>
<td>Rs 47900</td>
<td>₹3500 Cashback</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star (2017) Split AC (LSA5AU3A,  ...</td>
<td>Rs 33990</td>
<td>₹2500 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 3 star Inverter Split ac , KS-Q18B ...</td>
<td>Rs 37000</td>
<td>₹2590 Cashback</td>
</tr>
<tr><td>LG 1.5 ton 3 star Inverter Split ac , KS-Q18W ...</td>
<td>Rs 38929</td>
<td>₹3000 Cashback</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Inverter Split AC (JS-Q18TL ...</td>
<td>Rs 49990</td>
<td>₹3500 Cashback</td>
</tr>
</table>
<h2>CROMA</h2><table>
<tr><td>LG 1.5 Ton 3 Star Split Inverter AC (LS-H18VNXD.ANLG, White)</td>
<td>₹45,600.00</td>
</tr>
<tr><td>LG 335 L 3 Star Frost Free Double Door Inverter Refrigerator (GL-T372JPZU, Shiny Steel)</td>
<td>₹34,990.00</td>
</tr>
<tr><td> LG 1.5 Ton 3 Star Window Inverter AC (JW-Q18WUXA, White)</td>
<td>₹32,800.00</td>
</tr>
<tr><td>LG 360 L 4 Star Frost Free Double Door Inverter Refrigerator (GL-T402JASN.DASZEB, Amber Steel)</td>
<td>₹45,000.00</td>
</tr>
<tr><td>LG 6.5 kg Fully Automatic Top Loading Washing Machine (T7588NDDLE.ASFPEIL, Silver)</td>
<td>₹18,499.00</td>
</tr>
<tr><td>LG 6.2 kg Fully Automatic Top Loading Washing Machine (T7288NDDLA.ABWPEIL, White)</td>
<td>₹15,499.00</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Split Inverter AC (KS-Q18FNZD, White)</td>
<td>₹45,600.00</td>
</tr>
<tr><td>LG 9 kg Fully Automatic Top Loading Washing Machine (T1077NEDL5.ASSPEIL, Stainless Steel)</td>
<td>₹35,544.00</td>
</tr>
<tr><td>LG 1 Ton 5 Star Split Inverter AC (KS-Q12FNZD, White)</td>
<td>₹40,900.00</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Split Inverter AC (KS-Q18BWZD, White)</td>
<td>₹46,990.00</td>
</tr>
<tr><td>LG 1 Ton 5 Star Split Inverter AC (KS-Q12BWZD, White)</td>
<td>₹39,990.00</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Inverter AC (KS-Q18FNXD1, White)</td>
<td>₹39,990.00</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Inverter AC (KS-Q18HNXD, White)</td>
<td>₹38,990.00</td>
</tr>
<tr><td>LG 1 Ton 3 Star Split Inverter AC (KS-Q12HNXD, White)</td>
<td>₹35,990.00</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Split Inverter AC (KS-Q18HNZD, White)</td>
<td>₹43,200.00</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Split Inverter AC (KS-Q18AWZD, White)</td>
<td>₹47,200.00</td>
</tr>
<tr><td>LG 1 Ton 5 Star Split Inverter AC (KS-Q12AWZD, White)</td>
<td>₹38,600.00</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Split Inverter AC (KS-Q18BNXD, White)</td>
<td>₹39,800.00</td>
</tr>
<tr><td>LG 1 Ton 5 Star Split Inverter AC (KS-Q12HNZD, White)</td>
<td>₹38,990.00</td>
</tr>
<tr><td>LG 2 Ton 3 Star Split Inverter AC (KS-Q24ENXA, White)</td>
<td>₹54,900.00</td>
</tr>
<tr><td>LG 1.5 Ton 3 Star Inverter AC (KS-Q18ENXA, White)</td>
<td>₹38,990.00</td>
</tr>
<tr><td>LG 1 Ton 5 Star Split Inverter AC (KS-Q12ENZA, White)</td>
<td>₹39,100.00</td>
</tr>
<tr><td>LG 1.5 Ton 5 Star Inverter AC (KS-Q18ENZA, White)</td>
<td>₹45,600.00</td>
</tr>
<tr><td>LG 1 Ton 3 Star Inverter AC (KS-Q12ENXA, White)</td>
<td>₹36,300.00</td>
</tr>
</table>
</body></html>